{% extends "spots/base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="header-container">
        {% include "spots/header.html" %}
    </div>
    <div class="container_15">
    	<div class="grid_15">
    		<h1>Create an account</h1>
			<form action="" method="post">
				{% csrf_token %}
                <div class="grid_8 alpha">
                	<div class="grid_2 alpha">
	                	<p>{{ form.first_name.label_tag }}</p>
                	</div>
	                <div class="grid_6 omega">
	                	<div class="grid_6 alpha omega">
	                    	{{ form.first_name }}
                    	</div>
                    	{% for error in form.first_name.errors %}
		                <div class="grid_6 alpha omega">
		                    <p class="small">{{ error | escape }}</p>
		                </div>
		                <div class="clear"></div>
		                {% endfor %}
	                </div>
	            </div>
	            <div class="clear"></div>
				<div class="grid_8 alpha small-top-space">
                	<div class="grid_2 alpha">
	                	<p>{{ form.username.label_tag }}</p>
                	</div>
	                <div class="grid_6 omega">
	                	<div class="grid_6 alpha omega">
	                    	{{ form.username }}
                    	</div>
                    	{% for error in form.username.errors %}
		                <div class="grid_6 alpha omega">
		                    <p class="small">{{ error | escape }}</p>
		                </div>
		                <div class="clear"></div>
               			 {% endfor %}
	                </div>
	            </div>
	            <div class="clear"></div>
                <div class="grid_8 alpha small-top-space">
                	<div class="grid_2 alpha">
	                	<p>{{ form.email.label_tag }}</p>
                	</div>
	                <div class="grid_6 omega">
	                	<div class="grid_6 alpha omega">
	                    	{{ form.email }}
                    	</div>
                    	{% for error in form.email.errors %}
		                <div class="grid_6 alpha">
		                    <p class="small">{{ error | escape }}</p>
		                </div>
		                <div class="clear"></div>
		                {% endfor %}
	                </div>
	            </div>
            	<div class="clear"></div>
                <div class="grid_8 alpha small-top-space">
                	<div class="grid_2 alpha">
            			<p>{{ form.password1.label_tag }}</p>
        			</div>
	                <div class="grid_6 omega">
	                	<div class="grid_6 alpha omega">
	                    	{{ form.password1 }}
                    	</div>
                    	{% for error in form.password1.errors %}
		                <div class="grid_6 alpha">
		                    <p class="small">{{ error | escape }}</p>
		                </div>
		                <div class="clear"></div>
		                {% endfor %}
	                </div>
	            </div>
            	<div class="clear"></div>
                <div class="grid_8 alpha small-top-space">
                	<div class="grid_2 alpha">
	                	<p>{{ form.password2.label_tag }}</p>
                	</div>
	                <div class="grid_6 omega">
                		<div class="grid_6 alpha omega">
	                    	{{ form.password2 }}
                    	</div>
                    	{% for error in form.password2.errors %}
		                <div class="grid_6 alpha">
		                    <p class="small">{{ error | escape }}</p>
		                </div>
		                <div class="clear"></div>
		                {% endfor %}
	                </div>
	            </div>
            	<div class="clear"></div>
				<div class="grid_1 top-space alpha">
	                <div class="btn vertical-center-parent">
	                    <div class="vertical-center-child" onclick="document.forms[0].submit()">Register</div>
	                </div>
	            </div>
			</form>	
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="footer-wrapper">
	{% include "spots/footer.html" %}
</div>
{% endblock %}