/***** Base rules *****/

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
}

/***** Layout rules *****/

/* major components */

#header {
	height: 60px;
	margin-bottom: 120px;
	color: white;
}

#footer-wrapper {
	height: 60px;
	background-color: rgb(120, 120, 120);
}

#logo {
	height: 100%;
	color: black;
}

#logo p {
	font-size: 24px;
}

#primary-nav {
	height: 100%;
	text-align: center;
}

#primary-nav > div{
	height: 100%;
}

/* home page */

#layout-home-search{
	height: 90px;
	border: 1px solid black;
	border-radius: 3px;
}

#wrapper {
	height: 100vh;
	min-height: 300px;
	background: url('images/background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/***** Module rules *****/

.btn {

}

.grid {
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.grid > li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.grid a {
	display: inline-block;
	height: 100%;
}

.horizontal-stretch {
	width: 100%;
	display: inline-block;
}

.vertical-center-parent {
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-center-child {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

/* text */

.white {
	color: white;
}

/* items */

#slogan {
	font-size: 40px;
}

/***** State rules *****/

.class.is-active {
}
