/***** Base rules *****/

body {
	font-family: 'Hind', sans-serif;;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/***** Layout rules *****/

/* major components */

#header {
	height: 60px;
	margin-bottom: 120px;
	color: white;
}

#footer-wrapper {
	background: url('images/binding_light.png');
	padding: 15px 0;
	border-top: 2px solid black;
}

#footer-wrapper a{
	text-decoration: underline;
}

#logo {
	height: 100%;
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 36px;
}

#primary-nav {
	height: 100%;
	text-align: center;
}

#primary-nav > div{
	height: 100%;
}

/* home page */

#wrapper {
	height: 100vh;
	min-height: 300px;
	background: url('images/background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/***** Module rules *****/

.grid {
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.grid > li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.grid a {
	display: inline-block;
	height: 100%;
}

.horizontal-stretch {
	width: 100%;
	display: inline-block;
}

.vertical-center-parent {
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-center-child {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

/* text */

.white {
	color: white;
}

.light {
	font-weight: 300;
}

.small {
	font-size: 12px;
}

/* items */

#btn-search {
	background-color: rgb(172, 156, 87);
	color: white;
}

#slogan {
	font-size: 40px;
	line-height: 1.2;
}

/***** State rules *****/

.class.is-active {
}

/***** Bootstrap & Modifications *****/

.btn {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 10px;
	font-size: 16px;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	outline: 0;
}


.no-rad {
	border-radius: 0;
}

.no-rad-right {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.no-rad-left {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
