{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="title" content="Park">
	<meta name="description" content="Parking made simple.">
	<meta name="keywords" content="parking, park">
	<title>Park</title>
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Poiret+One|Hind:300,700,400'>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/normalize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/grid.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'spots/style.css' %}"/>
</head>
<body>
	<div id="wrapper">
		<div id="header" class="container_15">
			<div id="logo" class="grid_13">
				<a href="/spots/">
					<div class="vertical-center-parent">
						<div class="vertical-center-child">
							<p class="white">park</p>
						</div>
					</div>
				</a>
			</div>
			<div id="primary-nav" class="grid_2">
				<div class="grid_1 alpha">
					<a href="/spots/">
						<div class="vertical-center-parent">
							<div class="vertical-center-child">Sign up</div>
						</div>
					</a>
				</div>
				<div class="grid_1 omega">
					<a href="/spots/">
						<div class="vertical-center-parent">
							<div class="vertical-center-child">Log in</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div id="content" class="container_15">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer-wrapper">
		<div id="footer" class="container_15">
			<p class="small light">background photo / "<a href="https://www.flickr.com/photos/marfis75/15823026561/">Cold Street</a>"" by <a>marfis75 on flickr</a>; used without modification under <a>cc by-sa 2.0</a></p>
		</div>
	</div>
</body>
</html>
		