{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="title" content="Park">
	<meta name="description" content="Parking made simple.">
	<meta name="keywords" content="parking, park">
	<title>{% block title %}{% endblock %}</title>
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Poiret+One|Hind:300,700,400'>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/normalize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/grid.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/bootstrap_mod.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/jquery-ui.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/jquery.timepicker.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spots/css/style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
</head>
<body>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<script src="{% static 'spots/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'spots/js/jquery.timepicker.min.js' %}"></script>
	<script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
	<script src="{% static 'spots/js/main.js' %}"></script>
	<script src="{% static 'spots/js/custom-map-marker.js' %}"></script>
</body>
</html>
		