{% extends "spots/base.html" %}
{% block content %}
<div class="wrapper" id="layout-home-wrapper">
	{% include "spots/header.html" %}  
	<div class="container_15" id="layout-home-welcome">
		<div class="grid_13 push_2">
			<p class="white" id="slogan">Find spots near you.</p>
		</div>
		<div class="grid_11 push_2" id="layout-home-search">
			<form action="/spots/results/" method="get">
				<div class="grid_6g alpha omega">
					{{ form.address.errors }}
					{{ form.address }}
				</div>
				<div class="grid_2g alpha omega">
					{{ form.date.errors }}
					{{ form.date }}
				</div>
				<div class="grid_2 alpha omega">
					{{ form.time.errors }}
					{{ form.time }}
				</div>
				<div class="grid_1g alpha omega">
					<div class="btn vertical-center-parent no-rad-left" id="btn-search">
						<div class="vertical-center-child" onclick="document.forms[0].submit()">Search</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% include "spots/footer.html" %}
{% endblock %}