{% extends "spots/base.html" %}
{% block content %}
<div class="wrapper">
	<div id="header-container">
		{% include "spots/header.html" %}
	</div>
	<div class="container_15" id="layout-spots">
		<div class="grid_9">
			<div class="grid_8 alpha">
				<h1>Spot</h1>
				<div class="grid_2 alpha">
					<p>Name:</p>
				</div>
				<div class="grid_6 omega">
					<p>{{ instance.spot.name }}</p>
				</div>
				<div class="grid_2 alpha">
					<p>Description:</p>
				</div>
				<div class="grid_6 omega">
					<p>{{ instance.spot.description }}</p>
				</div>
				<div class="grid_2 alpha">
					<p>Address:</p>
				</div>
				<div class="grid_6 omega">
					<p>{{ instance.spot.residence.address }}</p>
				</div>
			</div>
			<div class="grid_8 alpha top-space">
				<h1>Reservation</h1>
				<div class="grid_2 alpha">
					<p>Start time:</p>
				</div>
				<div class="grid_6 omega">
					<p>{{ from_date }} @ {{ from_time }}</p>
				</div>	
				<div class="grid_2 alpha">
					<p>End time:</p>
				</div>
				<div class="grid_6 omega">
					<p>{{ to_date }} @ {{ to_time }}</p>
				</div>
				<div class="grid_2 alpha small-top-space">
					<p>Price:</p>
				</div>
				<div class="grid_3 small-top-space">
					<div class="grid_2 alpha">
						<p>${{ instance.rate }} x {{ num_hours }} hours</p>
					</div>
					<div class="grid_1 omega right">
						<p>${{ spot_cost }}</p>
					</div>
					<div class="grid_2 alpha">
						<p>Service fee</p>
					</div>
					<div class="grid_1 omega right">
						<p>${{ service_fee }}</p>
					</div>
					<div class="grid_2 alpha border-top">
						<p>Total</p>
					</div>
					<div class="grid_1 border-top omega right">
						<p>${{ total }}</p>
					</div>
				</div>
				<div class="clear"></div>	
			</div>
			<div class="grid_8 alpha top-space ">
				<h1>Payment</h1>
				<form action="/spots/success/" method="post">{% csrf_token %}
					<p>Payment form 1</p>
					<p>Payment form 2</p>
					<div class="grid_1g alpha btn top-space" onclick="document.forms[0].submit()">Submit</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include "spots/footer.html" %}
{% endblock %}