{% extends "spots/base.html" %}
{% block content %}
<div class="wrapper">
	<div id="header-container">
		{% include "spots/header.html" %}
	</div>
	<div class="container_15" id="layout-spots">
		<div class="grid_15">
			<form action="/spots/results/" method="get">
				<div class="grid_6 alpha">
					<p>Address</p>
					<div class="grid_5 alpha">
						{{ form.address }}
					</div>
				</div>
				<div class="grid_4">
					<p>From</p>
					<div class="grid_2 alpha omega">
						{{ form.from_date }}
					</div>
					<div class="grid_2g alpha omega">
						<div class="grid_1g alpha omega">
							{{ form.from_time }}
						</div>
					</div>
				</div>
				<div class="grid_4">
					<p>To</p>
					<div class="grid_2 alpha omega">
						{{ form.to_date }}
					</div>
					<div class="grid_2g alpha omega">
						<div class="grid_1g alpha omega">
							{{ form.to_time }}
						</div>
					</div>
				</div>
				<div class="grid_1 omega" id="btn-update-container">
					<div class="btn vertical-center-parent" id="btn-update">
						<div class="vertical-center-child" onclick="document.forms[0].submit()">Go</div>
					</div>
				</div>
			</form>
		</div>
		{% if form.errors %}
		<div class="grid_15">
			<div class="grid_6 alpha display">
				{% for error in form.address.errors %}
				<p class="error">{{ error | escape }}</p>
				{% endfor %}
			</div>
			<div class="grid_4">
				<div class="grid_2 alpha omega display">
					{% for error in form.from_date.errors %}
					<p class="error">{{ error | escape }}</p>
					{% endfor %}
				</div>
				<div class="grid_2g alpha omega">
					<div class="grid_1g alpha omega display">
						{% for error in form.from_time.errors %}
						<p class="error">{{ error | escape }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="grid_2 alpha omega display">
					{% for error in form.to_date.errors %}
					<p class="error">{{ error | escape }}</p>
					{% endfor %}
				</div>
				<div class="grid_2g alpha omega">
					<div class="grid_1g alpha omega display">
						{% for error in form.to_time.errors %}
						<p class="error">{{ error | escape }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="clear"></div>
		<div class="container_15">
			<div class="grid_15" id="layout-spots-map"></div>
		</div>
	</div>
</div>
{% include "spots/footer.html" %}
{% endblock %}