/***** Base rules *****/

body {
	font-family: 'Hind', sans-serif;;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input, .btn { 						/* prevent form elements from being too wide */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

/***** Layout rules *****/

/* major components */

#header {
	height: 65px;
	color: white;
	margin-bottom: 25px;
}

#header-container {
	background-color: rgb(45, 60, 96);
}

#footer-wrapper {
	background: url('../images/binding_light.png');
	padding: 15px 0;
	border-top: 2px solid black;
}

#footer-wrapper a {
	text-decoration: underline;
}

#logo {
	height: 100%;
	color: black;
	font-family: 'Poiret One', cursive;
	font-size: 36px;
}

#primary-nav {
	height: 100%;
	text-align: center;
}

#primary-nav > div{
	height: 100%;
}

/* home page */

#layout-home-welcome {
	margin-top: 120px;
}

#layout-home-welcome input {
	height: 50px;
}

#layout-home-wrapper {
	background: url('../images/background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* spots page */

#layout-spots input {
	height: 35px;
}

#layout-spots-map {
	margin-top: 25px;
	height: 400px;
}

/***** Module rules *****/

.display {
	min-height: 1px;
}

.grid {
	height: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.grid > li {
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.grid a {
	display: inline-block;
	height: 100%;
}

.horizontal-stretch {
	width: 100%;
	display: inline-block;
}

.no-rad {
	border-right: 0;
	border-radius: 0;
}

.no-rad-right {
	border-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.no-rad-left {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.vertical-center-parent {
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-center-child {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.wrapper {
	height: 100vh;
	min-height: 300px;
}

/* text */

.error {
	margin-left: 5px;
}

.white {
	color: white;
}

.light {
	font-weight: 300;
}

.small {
	font-size: 12px;
}

/* items */

#btn-search {
	background-color: rgb(172, 156, 87);
	color: white;
	height: 50px;
}

#btn-update {
	background-color: rgb(172, 156, 87);
	color: white;
	height: 35px;
}

#btn-update-container {
	position: absolute;
	bottom: 0;
}

#slogan {
	font-size: 40px;
	line-height: 1.2;
}

/***** State rules *****/

.class.is-active {
}

.ui-state-active {
	border-color: rgb(45, 60, 96);
	background: rgb(45, 60, 96);
}
